:focus {outline:none;}
.chpddNav ::-moz-focus-inner{border:0;}


.chp-ltitle{font:13px MS Shell Dlg,Tahoma;color:#333333;margin:5px 0 10px;}
/*.chp-catname{font-weight:bold;}*/
.chpddNav{margin:10px 0;position:relative;}
.chp-pricesearch{width:250px;margin-bottom:10px;}

.chp-lbtn{margin:0px 0px 0 0;border:1px solid #BBBBBB;border-right:none;vertical-align:top;display:inline-block;color:#333333;cursor:pointer;
	padding:4px 3px;font:13px/16px MS Shell Dlg,Tahoma,Arial;border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;height:26px;
	background:-moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF');}
.chp-lbtn:hover,.chp-rbtn:hover{box-shadow:0 0 2px #BBBBBB;-moz-box-shadow:0 0 2px #BBBBBB;-webkit-box-shadow:0 0 2px #BBBBBB;border-color:#999999;}
.chp-lbtn:active,.chp-rbtn:active{box-shadow:0 0 2px #BBBBBB,inset 0 2px 5px #C9C9C9;-webkit-box-shadow:0 0 2px #BBBBBB,inset 0 2px 5px #C9C9C9;
	-moz-box-shadow:0 0 2px #BBBBBB, 0 2px 5px #C9C9C9 inset;
	border-color:#999999;text-shadow:0 1px #FFFFFF;
	background: -moz-linear-gradient(center top , #FBFBFB, #EBEBEB) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top, center bottom, from(#FBFBFB), to(#EBEBEB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#EBEBEB');}
.chp-rbtn{display:inline-block;border:1px solid #CCCCCC;background-color:#FFFFFF;vertical-align:top;padding:0 3px;margin:0;cursor:pointer;
	border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;
	background:-moz-linear-gradient(center top , #F8F8F8, #E8E8E8) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#E8E8E8));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E8E8E8');}

.chp-lbtn-sld{border-color:#6D91EA;color:#283A7A;
	background:-moz-linear-gradient(center top , #B5CFFF, #86B2F8) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top, center bottom, from(#B5CFFF), to(#86B2F8));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5CFFF', endColorstr='#86B2F8');}
.chp-lbtn-sld:hover,.chp-rbtn-sld:hover{box-shadow:0 0 2px #657688;-moz-box-shadow:0 0 2px #657688;-webkit-box-shadow:0 0 2px #657688;border-color:#436BCD;}
.chp-rbtn-sld{border-color:#5378D5;
	background:-moz-linear-gradient(center top , #9FC1FF, #78A6EE) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top, center bottom, from(#9FC1FF), to(#78A6EE));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9FC1FF', endColorstr='#78A6EE');}
.chp-lbtn-sld:active,.chp-rbtn-sld:active{box-shadow:0 0 2px #657688, 0 2px 5px #5A81BF  inset;-moz-box-shadow:0 0 2px #657688, 0 2px 5px #5A81BF  inset;
	-webkit-box-shadow:0 0 2px #657688, 0 2px 5px #5A81BF  inset;
	border-color:#436BCD;text-shadow:0 1px #ABC9FF;
	background: -moz-linear-gradient(center top , #9FC1FF, #78A6EE) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top, center bottom, from(#9FC1FF), to(#78A6EE));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9FC1FF', endColorstr='#78A6EE');}

.chp-parameter{float:left;margin-right:5px;}
/*.chp-parameter-left{float:left;border-right:1px solid #CCCCCC;padding:3px 3px;}
.chp-parameter-right{float:right;margin:3px 4px 0 1px;}*/

.chp-dlist{position:absolute;border:1px solid #AAAAAA;padding:5px 0px 7px 0px;background-color:#FFFFFF;z-index:2;-moz-box-shadow:1px 2px 5px #989898}
.chp-dll{list-style:none;margin:0 7px 0 7px;padding:0;float:left;}
.chp-dla{vertical-align:top;text-decoration:none;background:none;display:block;font:12px/12px Tahoma,Arial;color:#333333;padding:3px 15px 3px 2px;margin:2px 0;
	border-bottom:1px dotted #777777;}
.chp-dla:hover{text-decoration:none;background-color:#EEEEEE;}
.chp-dla:visited{color:#333333;}
.chp-dlf{vertical-align:top;}
.chp-lssel{font:bold 12px Tahoma,Verdana;color:#333333;padding:0 10px 3px 5px;}

.chp-dltick{width:12px;height:12px;display:inline-block;vertical-align:top;
	background:transparent url('ticks2.png') no-repeat 0 0;}
.ticksel{background-position:0 -12px;}
.chp-dla:hover .ticksel{background-position:0 -36px;}
.tickunavail{background-position:0 -24px;margin-left:2px;}

.chp-lrem{vertical-align:top;color:#777777;font:11px Tahoma,Arial;}
.chp-lrem:visited{color:#777777;}

.chp-dunaval{border-bottom: 1px dotted #777777;line-height: 12px;padding: 3px 0;cursor:default;}
.chp-dlunav{color:#CCCCCC;vertical-align:top;font:12px/12px Tahoma,Arial;}
.chp-remall{font:12px Tahoma,Arial;color:#984343;}
.chp-remall:hover{text-decoration:none;}
.chp-remall:hover span{text-decoration:underline;}
.chp-total{font:12px Tahoma;margin:7px 0 0 0;}

.chp-seemore{margin:0 10px 3px 6px;padding-top:5px;font:12px Tahoma,Arial;clear:both;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;}
.chp-seemore:hover{text-decoration:underline;}
.chp-smop{font:12px monospace;color:#B35900;}
.chp-smhidden{display:inline;}
.chp-loader{display:inline-block;margin-left:5px;}

.dl-price-cont{margin:0 0 5px 0;clear:both;}
.customPrice{padding:0;width:100%;}
.customPrice input#low-price, .customPrice input#high-price{width:100%;font-size:11px;font-weight:bold;}
.customPrice label{font-family:Arial;font-size:12px;white-space:nowrap;}
.customPrice form{margin:0;padding:0;}
#chpGoBtn{border:0 none;height:21px;width:21px;}

.chp-tbouter{padding:10px 0 3px 0;margin:0 5px;position:relative;}
.chp-trackbar{position:absolute;width:100%;}
.chp-fullrange{height: 6px;background:#CCCCCC;background:-moz-linear-gradient(center top , #BCBCBC, #E8E8E8) repeat scroll 0 0 #F6F6F6;
	background:-webkit-gradient(linear, center top, center bottom, from(#BCBCBC), to(#E8E8E8));}
.chp-selrange{background:#8AD4F7;border: 1px solid #40A9D9;box-shadow: 0 1px 1px #F1FAFF inset;height: 4px;position: absolute;top: 0;}
.left-slider,.right-slider{background:#777474;border: 1px solid #FFFFFF;border-radius:2px;box-shadow:0 0 2px 0 #C8C8C8, 0 5px 2px #B7B7B7 inset;
	cursor: pointer;height:12px;position: absolute;top: -4px;width: 6px;}
.left-slider:hover,.right-slider:hover{box-shadow:0 0 2px 0 #888888, 0 5px 2px #9F9F9F inset;}
.chp-pcl{margin:0 0 0 10px;font:11px Verdana,Tahoma;color:#555555;display:inline-block;}
.cl-hov{text-decoration:underline;cursor:pointer;background:transparent url('cl-hov.png') no-repeat right top;padding-right:16px;}

.ppvalue2{float:left;font:11px Tahoma;margin:5px 0 5px 10px;}
.ppapply{font:11px Tahoma;}
.ppapply2{font:11px Tahoma;float:right;margin:0 7px 0 0;}

.chp-colfa{display:block;float:left;margin:3px;border:1px solid #EB8927;box-shadow:0 0 3px #D0D0D0;}
.chp-colfa:hover{text-decoration:none;}
.chp-colf{d1isplay:block;f1loat:left;border:1px solid #FFFFFF;padding:2px 4px;color:#444444;line-height:17px;}
.chp-colf:hover{text-decoration:underline;}
.colf-cont{padding:0 5px 8px 7px;}
.colf-f{font:11px Tahoma;c1olor:#444444;}
.colf-nar{font:10px Tahoma;color:#AAAAAA;}
.colf-unavail{opacity:0.6;}
.colf-sel{border-color:#696969;}
.col-silver{background-color:#EEEEEE;}
.col-pianoblack{background-color:#555555;box-shadow:0 3px 2px 3px #8C8C8C inset;color:#E6E6E6;}
.col-pianoblack .colf-f{color:#E6E6E6;}
.col-yellow{background-color:#F9F97F;}
.col-blue{background-color:#9DD5F8;}

.down-arrow{display:inline-block;font-size:0px;line-height:0%;width:0px;border-top:6px solid #333333;border-left:4px solid transparent;
	border-right:4px solid transparent;vertical-align:top;margin:10px 0 8px 0;}

.chp-nofilters{font:11px Tahoma,Verdana;padding:5px 20px;color:#999999;}

.chp-transparent{opacity:0.5;}
.chp-clear,.clear{clear:both;}
.refinementSelected{font-weight:bold;}
.narrowValue{color:#BBBBBB;font-size:11px;vertical-align:top;}
.hid{display:none;}